@{
    ViewData["Title"] = "Application";
}

@section Scripts
{ 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/Testing.js" asp-append-version="true"></script>
}
<div class="mainSection">
    <div class="gameContainer">
        <div class="gameInfo">
            <h2>Find a Game</h2><br />
            <input type="button" id="generateGame" value="Create Game"/><br />
            <input type="text" id="gameIdInput" /><br />
            <input type="button" id="joinGame" value="Join Game" />
        </div>
        <canvas id="snakeGame" width="800" height="800"></canvas>
    </div>
    
</div>

